{% load custom_filter %}
<div class="bg-primary">
    <nav class="navbar navbar-expand-lg bg-primary container " data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}">eBooks</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            {% url 'home' as home_url %}
                {% url 'books' as books_url %}
                {% url 'book_detail' as book_detail_url %}
                {% url 'authors' as authors_url %}
                {% url 'author_detail' as author_detail_url %}
                {% url 'about' as about_url %}
                {% url 'contact' as contact_url %}
                {% url 'cart' as cart_url %}
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == home_url %} active {% endif %}" aria-current="page" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == books_url or request.path == book_detail_url %} active {% endif %}" href="{% url 'books' %}">Books</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == authors_url or request.path|is_author_detail %} active {% endif %}" href="{% url 'authors' %}">Authors</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == about_url %}active{% endif %}" href="{% url 'about' %}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == contact_url %}active{% endif %}" href="{% url 'contact' %}">Contact</a>
                    </li>
                </ul>
                <ul class="d-flex navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == cart_url %}active{% endif %}" href="{% url 'cart' %}"><i class="bi bi-cart-fill"
                                style="font-size: 1.2rem; color: white;"></i></a>
                    </li>
                    {% if not request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="btn btn-outline-light mx-4" href="{% url 'login' %}">Login</a>
                    </li>
                    <li class="nav-item">
                            <a class="btn btn-outline-light" href="{% url 'register' %}">Register</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link mx-2">{{request.user.username | uppercase}}</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-outline-light" href="{% url 'logout' %}">Logout</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</div>