asgiref==3.8.1
certifi==2024.8.30
charset-normalizer==3.4.0
Django==5.1.2
django-bootstrap5==24.3
Faker==30.8.2
idna==3.10
pillow==11.0.0
python-dateutil==2.9.0.post0
python-decouple==3.8
razorpay==1.4.2
requests==2.32.3
six==1.16.0
sqlparse==0.5.1
typing_extensions==4.12.2
urllib3==2.2.3
