{% extends 'master_page.html' %} {% load custom_filter %} {% block title %}
eBooks - My Orders {% endblock %} {% block content %}
<header class="bg-primary text-white text-center py-5">
  <div class="container">
    <h1 class="display-4">My Orders</h1>
  </div>
</header>
<section class="py-5 min-vh-100">
  <div class="container">
    <div class="row">
      {% for order in orders %}
      <div class="col-md-6">
        <div class="card mb-3">
          <div class="card-header">
            <h5 class="card-title">Order ID: {{ order.receipt_id }}</h5>
          </div>
          <div class="card-body">
            {% for item in order.orderitem_set.all %}
            <li>Book: {{ item.book.title }} | Price: ₹{{item.book.price}} Quantity: {{ item.quantity }} = ₹{{ item.book.price|multiply:item.quantity }}</li>
            {% endfor %}
          </div>
          <div class="card-footer">
            <p>Payment ID: {{ order.razorpay_payment_id }}</p>
            <p>Receipt ID: {{ order.receipt_id }}</p>
            <p>Amount Due: {{ order.amount_due }}</p>
            <p>Amount Paid: ₹{{ order.amount_paid }}</p>
            <p>Payment Method: {{ order.payment_method }}</p>
          </div>
        </div>
      </div>
      {% empty %}
      <p>No orders found</p>
      {% endfor %}
    </div>



    {% if orders.paginator.num_pages > 1 %}
        <!-- Bootstrap-styled pagination controls -->
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center my-3 pagination-md">
            {% if orders.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1" aria-label="First">
                        <span aria-hidden="true">&laquo;&laquo;</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ orders.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled"><span class="page-link">&laquo;&laquo;</span></li>
                <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
            {% endif %}

            <!-- Display each page number with Bootstrap styling -->
            {% for page_num in orders.paginator.page_range %}
                {% if orders.number == page_num %}
                    <li class="page-item active"><span class="page-link">{{ page_num }}</span></li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
                    </li>
                {% endif %}
            {% endfor %}

            {% if orders.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ orders.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ orders.paginator.num_pages }}" aria-label="Last">
                        <span aria-hidden="true">&raquo;&raquo;</span>
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
                <li class="page-item disabled"><span class="page-link">&raquo;&raquo;</span></li>
            {% endif %}
            </ul>
        </nav>
        {% endif %}

    

    <div class="row">
      <div class="col-md-12">
        <a href="{% url 'books' %}" class="btn btn-primary"
          >Continue Shopping</a
        >
      </div>
    </div>
  </div>
</section>
{% endblock %}
